<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (isSelf || user?.isAdmin)  { %>
  <div class="screen-left">
  <h1 class="req-title">Requests</h1>
  <% if (tasks.length) { %>
    <div class="card-container">
      <% tasks.forEach(task => { %>
        <div class="card">
          <h4>
            <% if (task?.fulfilled === false) { %><i style="color:#C44900" class="fa-solid fa-clock"></i><% } %>
            <% if (task?.fulfilled === true) { %><i style="color:#7cc400" class="fa-solid fa-list-check"></i><% } %>
            <%= task.name %>
          </h4>
          <h6><%= task.details %></h6>
          <div>
            <a class="view-eye" href='/tasks/<%= task._id %>'><i class="Eye"></i></a>
          </div>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <h4 class="req-title">will appear here.</h4>
  <% } %>  
  </div>
  <div class="task-form">
    <h2>Add Request</h2>
    <form action="/tasks" method="POST">
        <label>
          <input type="text" name="name" autocomplete="off" placeholder="Task">
        </label>
        <label>
          <textarea name="details" autocomplete="off" placeholder="Notes"></textarea>
        </label>
          <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>
<% } %>

</main>


<%- include('../partials/footer') %>