<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>All tasks: (make visible only to admin)</h1>
  <table>
    <tr>
      <th>Task:</th>
      <th>Notes:</th>
      <th>Details:</th>
    </tr>
    <% tasks.forEach(task => { %>
    <tr>
      <td>
        <%= task.name %>
      </td>
      <td>
        <%= task.details %>
      </td>
      <td>
        <%= task.client.name %>
      </td>
      <td>
        <a href='/tasks/<%= task._id %>'>view</a>
      </td>
    </tr>
    <% }) %>
  </table>
</main>

<%- include('../partials/footer') %>