<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <h2>this is where I (as admin) will be able to view all my requests</h2>
  </div>

  <h1>tasks:</h1>
  <ul>
    <% tasks.forEach(task => { %>
      <li>
        <%= task.name %> ::: <%= task.details %> ::: <%= task.owner %> 
      </li>
    <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>