<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Task details:</h1>
  <table>
    <form action="/tasks/<%= task.id %>?_method=PUT" method="POST">
    <tr>
      <th>Task:</th>
      <th>Details:</th>
    </tr>
    <tr>
      <td><input type="text" name="name" autocomplete="off" value="<%= task.name %>"></td>
      <td><input type="text" name="details" autocomplete="off" value="<%= task.details %>"></td>
      <td><button type="submit">Save changes</button></td>
      <td><form action="/tasks/<%= task.id %>?_method=DELETE" method="POST"><button type="submit">Delete task</button></form></td>
    </tr>
    </form>
  </table>
  <h2>Arrangements made:</h2>

  <% if (task.arrangements.length) {  %>
    <table>
      <tr>
        <th>Servicer:</th>
        <th>Details:</th>
        <th>Date scheduled:</th>
      </tr>

      <% if (user?.isAdmin)  { %>
        <% task.arrangements.forEach(arrangement =>  { %>
          <tr>
            <form action="/tasks/<%= task.id %>/arrangements/<%= arrangement.id %>/?_method=PUT" method="POST">
              <td><input type="text" name="name" autocomplete="off" value="<%= arrangement.name %>"></td>
              <td><input type="text" name="details" autocomplete="off" value="<%= arrangement.details %>"></td>
              <td><input type="date" name="fulfillment" value="<%= arrangement.fulfillment.toISOString().slice(0, 10) %>"></td>
              <td><button type="submit">Save changes</button></td>
            </form>
            <td><form 
              action="/tasks/<%= task.id %>/arrangements/<%= arrangement.id %>?_method=DELETE" 
              method="POST" rel="<%= task.id %>">
              <button type="submit">Delete</button>
            </form></td>
          </tr>
        <% }) %>

      <% } else { %>
        <% task.arrangements.forEach(arrangement =>  { %>
          <tr>
            <td><%= arrangement.name %></td>
            <td><%= arrangement.details %></td>
            <td><%= arrangement.fulfillment.toISOString().slice(0, 10) %></td>
          </tr>
        <% }) %>
      <% } %>

    </table>
  <% } else { %>
    <h3>will display here</h3><% } %>
  



    <h3>Add an Arrangement</h3>
    <form action="/tasks/<%= task.id %>/arrangements" method="POST">
      <label>
        Servicer:
        <input type="text" name="name">
      </label>
      <label>
        Description:
        <input type="text" name="details">
      </label>
      <label>
        Scheduled:
        <input type="date" name="fulfillment">
      </label>
      <button type="submit">Add</button>
    </form>
  <% if (user?.isAdmin)  { %>
  <% } %>
</main>

<%- include('../partials/footer') %>