<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h3>Edit task details:</h3>
  <table>
    <form action="/tasks/<%= task.id %>/arrangements/?_method=PUT" method="POST">
    <tr>
      <th>Task:</th>
      <th>Details:</th>
    </tr>
    <tr>
      <td><input type="text" name="name" autocomplete="off" value="<%= task.name %>"></td>
      <td><input type="text" name="details" autocomplete="off" value="<%= task.details %>"></td>
      <td><button type="submit">Save changes</button></td>
    </tr>
    </form>
  </table>
</main>

<%- include('../partials/footer') %>