<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <ul>
    <form action="/tasks/<%= task.id %>?_method=PUT" method="POST">
      <label>
        Task:
        <input type="text" name="name" autocomplete="off" value="<%= task.name %>">
      </label>
      <label>
        Details:
        <input type="text" name="details" autocomplete="off" value="<%= task.details %>">
      </label>
      <button type="submit">Save changes</button>
  </form>
  <form action="/tasks/<%= task.id %>?_method=DELETE" method="POST"><button type="submit">Delete</button></form>
  </ul>
</main>

<%- include('../partials/footer') %>