<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <h3>Edit task details:</h3>
  <ul>
    <form action="/tasks/<%= task.id %>?_method=PUT" method="POST">
      <label>
        Task:
        <input type="text" name="name" autocomplete="off" value="<%= task.name %>">
      </label>
      <label>
        Details:
        <input type="text" name="details" autocomplete="off" value="<%= task.details %>">
      </label>
      <button type="submit">Save changes</button>
  </form>
  <form action="/tasks/<%= task.id %>?_method=DELETE" method="POST"><button type="submit">Delete</button></form>
  </ul>
<h2>Arrangements:</h2>
<ul>
  <% task.arrangements.forEach(arrangement =>  { %>
    <li>
      <a href="/tasks/<%= task.id %>/arrangements/<%= arrangement.id %>">
        <%= arrangement %></a></li>
  <% }) %>
</ul>
<h3>Add an Arrangement</h3>
<form action="/tasks/<%= task.id %>/arrangements" method="POST">
  <label>
    Servicer:
    <input type="text" name="name">
  </label>
  <label>
    Description:
    <input type="text" name="details">
  </label>
  <label>
    Scheduled:
    <input type="date" name="fulfillment">
  </label>
  <button type="submit">Add</button>
</form>
</main>

<%- include('../partials/footer') %>